.skillItem {
    background-color: rgb(248,249,250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0,0,0,.125);
}

.iconItem {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.skillTitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.skillDescription {
}