@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.projectsBlock {
    @include positionForBlock($bgSecondary);
    .containerProjects {
        @include displayFlex(center);
        align-items: center;
    }
    .projectsWrapper {
        @include displayFlex(space-around);
        gap: 25px;
        flex-wrap: wrap;
        width: 100%;
    }
}
