.projectsBlock {
    min-height: 100vh;
    background-color: #d5b0e8;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectsWrapper {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}