.formBlock {
    height: 100vh;
    background-color: #e3b4c5;
}

.container {
    flex-direction: column;
    justify-content: space-between;
}

.formWrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid;
}

.formWrapper input {
    background-color: #ababab;
    border: none;
    padding: 5px;
}

.formWrapper textarea {
    height: 150px;
    background-color: #ababab;
    border: none;
}