@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.main {
  padding: 60px 0;
  min-height: calc(100vh - 67px);
  background-color: $primaryColor;
  position: relative;
  display: flex;
  align-items: center;

  .particle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .description {
    @media (max-width: 859px) {
      @include displayFlex(center);
      text-align: center;
      flex-direction: column;
    }

    h2 {
      @include textMain(300, 30px);
    }

    h1 {
      @include textMain(600, 50px);
    }

    span {
      &:nth-child(4) {
        margin-bottom: 16px;
      }
      font-size: 21px;
      line-height: 1.8;
    }
  }

  .mainPhoto {
    z-index: 100;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    margin-top: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border: 5px $bgPrimary solid;
  }

  .arrowWrapper {
    .arrow {
      position: absolute;
      width: 25px;
      height: 25px;
      border-top: 4px solid $textColor;
      border-right: 4px solid $textColor;
      margin: 16px 0 0 10px;
      transform: rotate(135deg);
      display: inline-block;
      animation: arrow 0.8s alternate infinite;
    }
  }

}

@keyframes arrow {
  from {
    left: calc(50% - 25px);
    bottom: 30px;
  }
  to {
    left: calc(50% - 25px);
    bottom: 15px
  }
}
