.skillsBlock {
    background-color: #fff;
    padding: 60px 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.skillWrapper {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}