.skillsBlock {
    min-height: 100vh;
    background-color: #aefda4;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.skillsTitle {
    background-color: #ababab;
    border: 1px solid;
}

.skillWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
}