@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.formBlock {
  background-color: $primaryColor;
  padding: 60px 0;

  .container {
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-bottom: 30px;
    }

    .formContainer {
      width: 100%;
      @include displayFlex(space-around);
      align-items: flex-start;
      flex-wrap: wrap;
      @media (max-width: 716px) {
        text-align: center;
      }

      .descriptionWrapper {
        position: relative;
        @include displayFlex(center);
        flex-direction: column;
        padding: 30px;

        .followWrapper {
          display: flex;
          gap: 15px;
        }

        p {
          margin-bottom: 25px;
        }
      }

      .formWrapper {
        @include displayFlex(center);
        flex-direction: column;
        padding: 30px;

        .form {
          width: 400px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: left;
          @media (max-width: 460px) {
            width: 320px;
          }
          @media (max-width: 716px) {
            .sendButton {
              text-align: center;
            }
          }
        }

        input {
          @include formInput ();
          font-family: inherit;
          &:focus {
            border-bottom: 1px solid;
          }
        }

        textarea {
          @include formInput ();
          height: 150px;
          resize: none;


          &:focus {
            border-bottom: 1px solid;
          }

          &::-webkit-scrollbar {
            width: 12px;
            height: 8px;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $textColor;
            border-radius: 15px;
            box-shadow: 0.1px 0.1px 1px $bgPrimary;
            opacity: 0.5;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: $textColor;
          }
        }
      }
    }
  }
}
