@import './../../../common/styles/sass/variables';
@import './../../../common/styles/sass/mixins';

.button {
  @include textMain(500, 1rem, none);
  position: relative;
  margin-top: 16px;
  cursor: pointer;
  border-width: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  .span {
    @include iconStyleButton(40px, 20px, 0);
  }

  .spanForIcon {
    @include iconStyleButton(20px, 20px, 15px);
  }
}

.btnDefault {
  @include btnVariantStyle($textColor, $bgPrimary, 1s);

  &:hover {
    background-color: #4d5154;
  }
}

.btnBasic {
  @include btnVariantStyle($primaryColor, $textColor, 1s);

  &:hover {
    color: #fff;
  }
}

.btnSecondary {
  @include btnVariantStyle(rgba(255, 255, 255, 0.75), $textColor, 0.5s);

  &:hover {
    background-color: $textColor;
    color: #fff;
  }
}

.btnIcon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  filter: none;
  transition: 0.5s;
  width: 35px;
  height: 35px;

  &:hover {
    filter: drop-shadow(1px -1px 16px black);
  }
}

.btnLink {
  padding-right: 40px;
  margin-left: 40px;
  color: $textColor;
  text-decoration: underline;
  transition: 1s;

  &:hover {
    text-decoration: none;
  }
}

