@import './../../common/styles/sass/variables';

.footerBlock {
  padding: 60px 0;
  background-color: $textColor;
  color: $bgPrimary;
  text-align: center;

  .container {
    flex-direction: column;
  }
    h3{
       margin-bottom: 30px;
    }

}
