.footerBlock {
    height: 30vh;
    background-color: #c4fabf;
}

.container {
    flex-direction: column;
}

.messengersWrapper {
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.messenger {
    background-color: #ababab;
    width: 40px;
    height: 40px;
}