.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 1700px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 1016px) {
    .container {
        width: 90%;
        justify-content: center;

    }
}