.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;

  margin: 0 1.5em;
  position: relative;

  a {
    position: relative;
    align-items: center;
    display: flex;
    color: #252b33;
    height: 70px;
    text-decoration: none;

    &:before {
      content: '';
      transition: all 0.2s ease-out;
      position: absolute;
      background-color: #ffc107;
      transform: translate(-50%, 50%);
      width: 0;
      height: 3px;
      bottom: 20px;
      left: 50%;
    }

    &:hover::before {
      content: '';
      position: absolute;
      background-color: #ffc107;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      height: 3px;
      bottom: 20px;
    }
  }
}
