@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.navWrapper {
  @media (max-width: 400px) {
    display: none;
  }
  .nav {
    @include displayFlex(space-between);
    align-items: center;
    width: 400px;
    margin: 0 1.5em;
    position: relative;
    .active {
      &:before {
        @include pseudoElement(20px, 50%, $primaryColor);
        transform: translate(-50%, 50%);
        width: 100%;
        height: 3px;
      }
    }
  }
}

